<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Neuron.Satellite.CapturaManual.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Neuron.Satellite.CapturaManual.Properties.Settings.DBConnectionString"
            connectionString="Data Source=vm-lysissql2.cloudapp.net;Initial Catalog=LYSISMariaAuxiliadora;Persist Security Info=True;User ID=sa;Password=Saneuron1.;MultipleActiveResultSets=True; Application Name=CapturaManual"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <Neuron.Satellite.CapturaManual.Properties.Settings>
            <setting name="StoreProvider" serializeAs="String">
                <value>System.Data.SqlClient</value>
            </setting>
            <setting name="UsarAceleracionHW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BaseUrl" serializeAs="String">
                <value>http://190.85.141.84/AsociacionDiabetes/Reporte/iuReporte.aspx?</value>
            </setting>
            <setting name="MostrarObsAnormal" serializeAs="String">
                <value>False</value>
            </setting>
        </Neuron.Satellite.CapturaManual.Properties.Settings>
    </applicationSettings>
</configuration>