<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IDataTransfer">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://serviciohl7.azurewebsites.net/hl7proxy/DataTransfer.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataTransfer"
                contract="LysisService.IDataTransfer" name="WSHttpBinding_IDataTransfer" />
        </client>
    </system.serviceModel>
</configuration>