<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NeuronOscEntitites" connectionString="metadata=res://*/NeuronOsc.csdl|res://*/NeuronOsc.ssdl|res://*/NeuronOsc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vm-lysissql2.cloudapp.net;initial catalog=LYSISMD;persist security info=True;user id=sa;password=Saneuron1.;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Neuron.OSC.Data.Properties.Settings.LYSIS1ConnectionString"
      connectionString="Data Source=161.18.235.250\sqlexpress;Initial Catalog=LYSIS;Persist Security Info=True;User ID=sa;Password=Saneuron1."
      providerName="System.Data.SqlClient" />
    <!--<add name="NeuronOscEntitites" connectionString="metadata=res://*/NeuronOsc.csdl|res://*/NeuronOsc.ssdl|res://*/NeuronOsc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=161.18.235.250\sqlexpress;initial catalog=LYSIS;persist security info=True;user id=sa;password=Saneuron1.;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Neuron.OSC.Data.Properties.Settings.LYSIS1ConnectionString"
      connectionString="Data Source=161.18.235.250\sqlexpress;Initial Catalog=LYSIS;Persist Security Info=True;User ID=sa;Password=Saneuron1."
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>