<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  AsigNoMuestra: NONE, DIA, AUTO
  -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Neuron.OSC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ControlsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Neuron.OSC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Neuron.OSC.Properties.Settings.DBConnectionString"
      connectionString="Data Source=Lysis1.eastus2.cloudapp.azure.com;Initial Catalog=LYSISMD;Persist Security Info=True;User ID=sa;Password=Saneuron1.;MultipleActiveResultSets=True;Application Name=DeskLysisMD"
      providerName="System.Data.SqlClient" />
    <add name="AuthDB" connectionString="Data Source=Lysis1.eastus2.cloudapp.azure.com;Initial Catalog=LYSISMD;Persist Security Info=True;User ID=authuser;Password=neuronauth.1;MultipleActiveResultSets=True;Application Name=DeskLysisMD"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <Neuron.OSC.Properties.Settings>
      <setting name="StoreProvider" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
      <setting name="UsarAceleracionHW" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReporteOsc" serializeAs="String">
        <value>./Reporte/Rp_OSC.rdlc</value>
      </setting>
      <setting name="ReporteFactura" serializeAs="String">
        <value>./Reporte/Rp_Factura.rdlc</value>
      </setting>
      <setting name="ImprimirDespuesDeGuardar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrefijosCentroDeToma" serializeAs="String">
        <value>NE,NI,NU</value>
      </setting>
      <setting name="TotalModificable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RemitenteDesdeConfig" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Remitentes" serializeAs="String">
        <value>R,r2,R3</value>
      </setting>
      <setting name="BuscarServiciosPrevios" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PersonalAsistencialVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImprimirCodigosDeBarras" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AsigNoMuestra" serializeAs="String">
        <value>NONE</value>
      </setting>
      <setting name="NumeroOrdenRequerido" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CambiarValorItem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PersonalAsistencialEsRequerido" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableEditTercero" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HL7Enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HL7Url" serializeAs="String">
        <value>http://serviciohl7.azurewebsites.net/hl7proxy/DataTransfer.svc</value>
      </setting>
      <setting name="MostrarNomSede" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrefijosOsc" serializeAs="String">
        <value>OPN,PRU</value>
      </setting>
      <setting name="PrintServiceLabel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NombreImpresoraCodigoDeBarras" serializeAs="String">
        <value>\\INGRESOS\TSC TTP-244 Plus (Copiar 1)</value>
      </setting>
      <setting name="NomSede" serializeAs="String">
        <value>PRINCIPAL</value>
      </setting>
      <setting name="FileRute" serializeAs="String">
        <value>D:\documentos\</value>
      </setting>
      <setting name="FileRoute" serializeAs="String">
        <value>D:\documentos\</value>
      </setting>
    </Neuron.OSC.Properties.Settings>
    <ControlsSettings>
      <setting name="NumeroDeResultados" serializeAs="String">
        <value>80</value>
      </setting>
    </ControlsSettings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <clear />
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="Neuron.OSC.Properties.Settings.DBConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="20" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="0" applicationName="DeskLysisMD" />
      </providers>
    </membership>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <clear />
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="Neuron.OSC.Properties.Settings.DBConnectionString" applicationName="DeskLysisMD" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="Neuron.OSC.Properties.Settings.DBConnectionString" applicationName="DeskLysisMD" name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </roleManager>
    <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81F04552DA996A68D7D8C5BC5A14C094288" validation="SHA1" validationKey="04552DA996A68D7D8C5BC5A14C094288FFBC9AD19DE62168764FF0DCE537184F0535D5D9AD66DEDC04552DA996A68D7D8C5BC5A14C094288FFBC9AD197DC1ABF" />
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <Neuron.OSC.Properties.Settings>
      <setting name="PrefijoCentroDeTomaDefault" serializeAs="String">
        <value>NE</value>
      </setting>
      <setting name="PrefijoOSCDefault" serializeAs="String">
        <value>OPN</value>
      </setting>
    </Neuron.OSC.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
