<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="NeuronCloudBaseEntities" connectionString="metadata=res://*/SqlServer.Entity.NeuronCloudBaseModel.csdl|res://*/SqlServer.Entity.NeuronCloudBaseModel.ssdl|res://*/SqlServer.Entity.NeuronCloudBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=awbefudj5a.database.windows.net;Initial Catalog=NEURON;Persist Security Info=True;User ID=JULIOURIBE@awbefudj5a;Password=Saneuron1.;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="NeuronCloudBaseEntities" connectionString="metadata=res://*/SqlServer.Entity.NeuronCloudBaseModel.csdl|res://*/SqlServer.Entity.NeuronCloudBaseModel.ssdl|res://*/SqlServer.Entity.NeuronCloudBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=vm-lysissql2.cloudapp.net;Initial Catalog=LYSIS1;Persist Security Info=True;User ID=SA;Password=Saneuron1.;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>